
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
.env
bot.sh
keys.txt
auto_updates.log
auto_commit.py
auto_commit.sh
